body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

em {
    color: #e70000;
}

p {
    text-align: justify;
}

.html-h3 {
    color: #ff7b00;
}

.css-h3 {
    color: #0059ff;
}

.html-intro {
    color: #00cf23;
}